@charset "UTF-8";

:root {
    --cor1: #221D23;
    --cor2: #2F6690;
    --cor3: #4A92BF;
    --cor4: #108BDD;
    --cor5: #000921;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    width: 100%;
    position: fixed;
    transition: all 0.3s ease;
    display: flex;
    justify-content: end;
    padding: 20px 0;
    background-color: var(--cor5);
}

nav.sticky {
    background-color: var(--cor5);
}

nav > ul {
    display: flex;
    list-style: none;
    gap: 30px;
    margin-right: 90px;
}

nav a {
    color: white;
}

.telas {
    width: 100%;
    min-height: 70vh;
    padding-top: 60px;
}

.telas-conteudo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 25px;
    padding: 20px;
}

.telas-conteudo p {
    margin-top: 10px;
    line-height: 1.21rem;
}

.telas-conteudo-texto {
    max-width: 500px;
    text-align: justify;
    padding-top: 40px;
}

.telas-conteudo-texto h3 {
    font-size: 1.5rem;
    text-align: left;
}

strong {
    color: var(--cor4);
}

.titulos, .subtitulos {
    text-align: center;
    padding-top: 15px;
}

.titulos {
    font-size: 2.5rem;
    margin-top: 10px;
}

.subtitulos {
    color: var(--cor3);
    font-weight: bold;
    font-size: 1.35rem;
}

.subtitulos::before {
    content: " 🧠 ";
    
}

/* ! TELAS - CONFIGURAÇÕES ESPECIFICAS */
/* TELA DE INICIO */
#inicio {
    height: 100vh;
    background-color: var(--cor4);
    background-image: url(imagens/waves-bgsvg.svg);
    background-size: cover;
    background-position: left bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    color: white;
}

#texto-inicio {
    padding-left: 50px;
    font-size: 2.3rem;
}

#texto-inicio strong {
    color: var(--cor1);
}

#texto-inicio h1 {
    font-weight: bolder;
}

/* TELA DE SOBRE */
#sobre img {
    padding-top: 40px;
    width: 380px;
    border-radius: 50%;
}

#sobre .telas-conteudo-texto {
    margin-top: 30px;
}

/* TELA DE SKILLS */
.conteudo-tabela {
    width: 400px;
    padding-top: 30px;
}

.info-valores {
    display: flex;
    justify-content: space-between;
    margin-bottom: 9px;
}

.linha {
    height: 5px;
    background: linear-gradient(to right, var(--cor4), var(--cor5));
}


/* TELA DE QUALIFICAÇÕES */
#tela-cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-left: 10px;
    padding: 40px 25px;
    gap: 20px;
    width: 500px;
}

.titulo-tela-cards {
    width: 100%;
    text-align: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    padding-bottom: 20px;
    min-width: 300px;
    height: 90px;
    border-radius: 10px;
    background-color: var(--cor1);
}

.cards a {
    color: white;
}

#area-de-imagem {
    display: flex;
    align-items: center;
}

#tela-certificados {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 550px;
    min-width: 320px;
}

#tabela-certificados {
    width: 100%;
}

/* TELA DE CONTATO */
/* COLUNA CONTEUDO 1 */
#contato-conteudo {
    display: flex;
    flex-wrap: wrap;
}

#infos {
    max-width: 450px;
    padding: 20px;
}

#infos p {
    margin-top: 5px;
}

#infos-especificas {
    margin-top: 30px;
    gap: 30px;
}

#infos-especificas section {
    margin-bottom: 20px;
}

/* COLUNA CONTEUDO 2 */
#contate-me form {
    display: flex;
    flex-direction: column;
    width: 450px;
}

#contate-me h2 {
    padding: 20px;  
}

.linha-form {
    margin: 5px;
}

.linha-form input, 
.linha-form textarea, 
.linha-form button {
    display: block;
    width: 92%;
    background-color: #dbdbdb44;
} 

.linha-form input, 
.linha-form textarea {
    font-family: inherit;
    padding: 0.8rem;
    border: 1px solid transparent;
    border-radius: 8px;
    transition: border-color, box-shadow 0.2s
}

.linha-form textearea {
    min-height: 13rem;
    resize: vertical;
}

.linha-form input:hover,
.linha-form input:focus,
.linha-form textarea:hover,
.linha-form textarea:focus {
    outline: none;
    border-color: var(--cor4);
    box-shadow: 0 0 0 3px var(--cor2);
}

.linha-botao {
    display: flex;
    justify-content: center;
    /* background-color: var(--cor5); */
}

.linha-form button {
    display: block;
    padding: 10px;
    background-color: var(--cor1);
    color: #fff;
    font: inherit;
    text-transform: uppercase;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
    width: 100px;
}

.linha-form button:focus, 
.linha-form button:hover {
    outline: none;
    background: var(--cor1);
}

footer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
    background-color: var(--cor1);
    color: white;
}

footer a {
    color: white;
}

footer ul {
    list-style: none;
    display: flex;
    gap: 30px;
    padding: 10px;
}
