/* folha de estilos geral
nesta folha estão os itens de header, footer e outros
 */

:root {
    --cor1: #3e1b46; /* strong */
    --cor2: #4f8ebe; /* header */
    --cor3: #57baf8; 
    --cor4: #0f75b9; 
    --cor5: #000a27; /* footeer */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body, html {
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
}

/* header */
header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.menu {
    position: relative;
    padding: 5px;
    cursor: pointer;
    transition: .4s;
}

.menu div {
    width: 32px;
    height: 3px;
    margin: 5px;
    background-color: white;
    transition: .4s;
}

.rodar {
    position: absolute;
    transform: rotate(47deg);
    top: 20px;
    right: 5px;
}
.menu .rodar-negativo {
    position: absolute;
    right: 5px;
    top: 20px;
    transform: rotate(-47deg);
}

nav {
    display: none;
    position: absolute;
    top: 90%;
    right: 16px;
    text-align: center;
    width: 32vw;
    background-color: var(--cor1);
}

.scrolling {
    background-color: var(--cor1);
}

nav li {
    padding: 10px;
    font-size: 1.1em;
    border-top: 1px solid white;
}

nav a{
    color:white; 
}

nav a:hover, nav a:focus{
    color: gray; 
}

/* footer */