/* folha de estilos geral
nesta folha estão os itens de header, footer e outros
 */

:root {
    --cor1: #5b2268; /* strong */
    --cor2: #007fe0; /* header */
    --cor3: #000a27; /* footeer */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

body {font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}

/* header */
header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 10px;
    transition: .3s;
}

header #img {background-image: url(../imagens/logo-ramon.png); width: 215px; height: 35px;}

header.scrolling {
    background-color: var(--cor2);
}

header div.scrolling {background-image: url(../imagens/logo-ramon-2.png); width: 215px; height: 35px;}

.menu {
    position: relative;
    padding: 5px;
    cursor: pointer;
    transition: .4s;
}

.menu div {
    width: 32px;
    height: 3px;
    margin: 5px;
    background-color: white;
    transition: .4s;
}

.rodar {
    position: absolute;
    transform: rotate(47deg);
    top: 20px;
    right: 5px;
}
.menu .rodar-negativo {
    position: absolute;
    right: 5px;
    top: 20px;
    transform: rotate(-47deg);
}

nav {
    display: none;
    position: absolute;
    top: 90%;
    right: 16px;
    text-align: center;
    width: 32vw;
    background-color: var(--cor1);
}

nav li {
    padding: 10px;
    font-size: 1.1em;
    border-top: 1px solid white;
}

nav a{
    color:white; 
    transition: .3s;
}

nav a:hover, nav a:focus{
    color: gray; 
}

/* footer */

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    padding-bottom: 10px;
    background-color: var(--cor3);
    color: white;
}

footer a {color: white;}

footer ul {
    list-style: none;
    display: flex;
    gap: 30px;
    padding: 10px;
}

@media screen and (min-width: 660px) {
    .menu {display: none;}
    nav {
        display: block;
        position: relative;
        width: fit-content;
        display: flex;
        font-size: 1.2em;
        background-color: transparent;
    }
    nav ul, nav li {display: flex; border: none; gap: 32px;}

    nav a:hover, nav a:focus {
        padding: 5px;
        color: white;
        background-color: var(--cor1);
        border-radius: 8px;
    }
}