@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --cor1: #3e1b46; /* strong */
    --cor2: #4f8ebe; /* header */
    --cor3: #57baf8; 
    --cor4: #0f75b9; 
    --cor5: #000a27; /* footeer */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body, html {
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    font-family: 'Bebas Neue', monospace;
}

header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.menu {
    padding: 5px;
    cursor: pointer;
}

.menu div {
    width: 32px;
    height: 3px;
    margin: 5px;
    background-color: white;
}

nav {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    text-align: center;
    width: 32vw;
    background-color: var(--cor1);
}

nav li {
    padding: 10px;
    font-size: 1.1em;
    border-top: 1px solid white;
}

nav a{
    color:white; 
}

nav a:hover, nav a:focus{
    color: gray; 
}

.tela {
    display: flex;
    width: 100%;
    height: 90vh;
}