/* nessa folha de estilos estarão 
as configurações das telas
para não criar um aquivo imenso */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.tela {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
}

/* tela de inicio */
#inicio {
    justify-content: center;
    height: 100vh;
    background: url(../imagens/waves-bgsvg.svg) fixed center bottom;
    background-size: cover;
    color: white;
    font-family: 'Bebas Neue', monospace;
    font-size: 2.4em;
    letter-spacing: .08em;
}

#inicio .texto {
    margin: 0 0 40px 40px;
}

/* tela sobre mim */
#sobre {
    align-items: center;
    margin-top: 50px;
    font-size: 1.18em;
    line-height: 1.3em;
}

#sobre h1, #sobre h3 {
    padding: 5px;
}

#sobre .conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    margin-top: 30px;
}

#sobre img {
    width: 300px;
    margin: auto;
} 

#sobre p {
    text-align: justify;
    padding: 15px;
}