/* nessa folha de estilos estarão 
as configurações das telas
para não criar um aquivo imenso */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&family=Ubuntu:wght@300;400;500;700&display=swap');

/* valores gerais */
.tela {
    width: 100%;
    padding-top: 80px;
    margin-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.18em;
    line-height: 1.5em;
}

.titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titulo h3 {margin-top: 10px; color: var(--cor1);}

.titulo h3::before, .titulo h3::after {
    display: inline-block;
    content: '';
    width: 40px;
    height: 4px;
    margin: 5px;
    border-radius: 8px;
    background-color: var(--cor2);
}

.conteudo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    z-index: 1;
}

.conteudo > p {
    text-indent: 35px;
    width: 330px;
    margin-top: 20px;
    text-align: justify;
    padding: 15px;
}

.conteudo > p > strong {
    font-size: 1.3em;
    color: var(--cor2);
}

/* tabelas usadas nas skills e certificados */
.conteudo-tabela {
    width: 330px;
    padding-bottom: 20px;
}

.valores {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.linha {
    height: 7px;
    background: linear-gradient(to right, var(--cor2), var(--cor3));
}

/* tela de inicio */
#inicio {
    display: flex;
    align-items: center;
    height: 100vh;
    margin-top: 0;
    padding: 0;
    background: url(../imagens/waves-bgsvg.svg) fixed center bottom;
    background-size: cover;
    color: white;
    font-family: 'Bebas Neue', monospace;
    font-size: 2.4em;
    letter-spacing: .08em;
}

#inicio .texto {margin: 0 0 40px 40px;}

/* tela sobre mim */
#sobre img {
    width: 300px;
    height: 300px;
} 

/* tela de experiencias e educação */
#quali {
    height: 90vh;
}

#quali i {
    position: absolute;
    transform: translate(-132%, -14%);
    font-size: 1.7em;
    color: var(--cor3);
}

#quali h3 {
    margin-left: 37px;
} 

#quali .conteudo {
    flex-direction: column;
    padding-top: 30px;
    font-size: .9em;
}

#quali .valores {
    flex-wrap: wrap;
    flex-direction: column;
    font-weight: bold;
}

#quali .valores .tempo{
    margin-left: 34px;
}

#quali #educacao {
    width: 70vw;
}

#quali #certificados {
    width: 70vw;
}

#quali .conteudo-tabela {
    width: 100%;
    margin: 20px 0 40px 0;
}

/* projetos / portfolio */
#projetos {
    height: fit-content;
}

#projetos .conteudo {
    max-width: 650px;
    margin: auto;
}

#projetos .caixa {
    display: flex;
    align-items: flex-end;
    width: 250px;
    height: 160px;
    margin: 10px;
    background-color: var(--cor2);
}

#projetos button {
    padding: 15px;
    cursor: pointer;
    font-size: 1em;
    border-top-right-radius: 10px;
    background-color: var(--cor3);
    color: white;

}

@media screen and (min-width: 660px) {
    #inicio {font-size: 2.9em;}
    .conteudo > p {
        width: 440px;
    }
    #sobre img {
        width: 350px;
        height: 350px;
    }
}

@media screen and (min-width: 768px) {
    #quali .valores {
        flex-direction: row;
    }
    #quali .valores .tempo{
        margin-left: 34px;
    }
    #quali .conteudo {
        flex-direction: row;
    }
    #quali #educacao {
        width: 35vw;
    }
    
    #quali #certificados {
        width: 35vw;
    }
}